bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/NotificationService
/.idea/.idea.NotificationService/.idea
/.vs/ProjectEvaluation
/NotificationService.Test/Resources/Raw/notifications-test-c100f-firebase-adminsdk-fbsvc-f431cfa5e0.json
